<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f8bef82-1f2e-427f-b2d4-73b027ca09b2" Alias="Accessibility Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AccessibilityHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:40:29</CreateDate>
    <NodeName Default="Accessibility Hero Image" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-accessibility.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>