<?xml version="1.0" encoding="utf-8"?>
<Media Key="15a07d1b-0731-40ff-b7b1-de6e4f4b758d" Alias="Accessibility Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AccessibilityHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Accessibility Hero" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3akfxniw/accessibility.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>