<?xml version="1.0" encoding="utf-8"?>
<Media Key="a352e411-d108-4141-aa66-8934757b28ee" Alias="AI Technology Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AITechnologyHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="AI Technology Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2kgksazp/ai-technology.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>