<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb1139f-b5ef-4b12-9ffa-09cd80eae3fc" Alias="Clean Code Hero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CleanCodeHero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T17:50:29</CreateDate>
    <NodeName Default="Clean Code Hero (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cdmpp0eg/clean-code.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>