<?xml version="1.0" encoding="utf-8"?>
<Media Key="21b633c8-8515-432e-b458-fc5262664f29" Alias="Clean Code Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CleanCodeHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Clean Code Hero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnnf1ajs/clean-code.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>