<?xml version="1.0" encoding="utf-8"?>
<Media Key="da64f91d-6578-4d90-8988-b1f12d4ca7ec" Alias="Clean Code Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CleanCodeHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:41:00</CreateDate>
    <NodeName Default="Clean Code Hero Image" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-clean-code.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>