<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bc97fb6-4e3b-4a17-aa5c-4f669eb890b2" Alias="CMS Content Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CMSContentHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="CMS Content Hero" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iuldeky2/cms-content.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>