<?xml version="1.0" encoding="utf-8"?>
<Media Key="344da239-ad04-4619-baea-1709538abaa2" Alias="CMS Content Hero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CMSContentHero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T17:50:50</CreateDate>
    <NodeName Default="CMS Content Hero (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wzuaxatn/cms-content.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>