<?xml version="1.0" encoding="utf-8"?>
<Media Key="72423a93-573c-4ea9-b25e-dd831afef876" Alias="CSS Design Hero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CSSDesignHero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T17:50:36</CreateDate>
    <NodeName Default="CSS Design Hero (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dtyajrcv/css-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>