<?xml version="1.0" encoding="utf-8"?>
<Media Key="790bf5b3-d2c4-4db6-aff0-a18dc95be1e9" Alias="CSS Grid Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CSSGridHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:40:37</CreateDate>
    <NodeName Default="CSS Grid Hero Image" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-css-grid.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>