<?xml version="1.0" encoding="utf-8"?>
<Media Key="8abf6573-b8f6-4d58-a5e3-bf8f83f85ce3" Alias="CSS Design Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CSSDesignHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="CSS Design Hero" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qagfikwr/css-design.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>