<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d10252d-28ae-4fdb-957c-686796e71692" Alias="First Steps Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FirstStepsHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:39:51</CreateDate>
    <NodeName Default="First Steps Hero Image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-first-steps.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>