<?xml version="1.0" encoding="utf-8"?>
<Media Key="6509089f-586e-40e5-ab32-ec1fcaf9b9d5" Alias="Learning Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LearningHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Learning Hero" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nrqpfrkj/learning.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>