<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f782f1-5bad-4da8-9f0a-ffba6f6f9c42" Alias="Modern Web Hero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ModernWebHero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T17:51:25</CreateDate>
    <NodeName Default="Modern Web Hero (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pzeldeoe/modern-web.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>