<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a2546e8-c54d-427d-80f9-9631c9d34c23" Alias="Modern Web Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ModernWebHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:11</CreateDate>
    <NodeName Default="Modern Web Hero" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dmxn3wtk/modern-web.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>