<?xml version="1.0" encoding="utf-8"?>
<Media Key="8988abfb-2c8f-4456-a17c-690bc0fc1eba" Alias="Performance Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PerformanceHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Performance Hero" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bdbhgkni/performance.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>