<?xml version="1.0" encoding="utf-8"?>
<Media Key="3812841b-1c59-4c0b-8b4e-5c08a938f2f1" Alias="Performance Hero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PerformanceHero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T17:51:03</CreateDate>
    <NodeName Default="Performance Hero (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/srhfjdrq/performance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>