<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2a0ef30-cce5-48ee-ab1d-395993c36790" Alias="Performance Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PerformanceHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:40:52</CreateDate>
    <NodeName Default="Performance Hero Image" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-performance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>