<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b14b320-0157-44e3-a3b9-d247dfee47f0" Alias="Responsive Design Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ResponsiveDesignHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:40:14</CreateDate>
    <NodeName Default="Responsive Design Hero Image" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-responsive-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>