<?xml version="1.0" encoding="utf-8"?>
<Media Key="da262dcc-f41e-46d0-ad82-3d83afbf4ce2" Alias="Responsive Design Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ResponsiveDesignHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Responsive Design Hero" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h3cn04rz/responsive-design.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>