<?xml version="1.0" encoding="utf-8"?>
<Media Key="343d291b-24d5-4d57-b788-58d1dac220ac" Alias="Umbraco Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:39:59</CreateDate>
    <NodeName Default="Umbraco Hero Image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-umbraco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>