<?xml version="1.0" encoding="utf-8"?>
<Media Key="36428069-1e70-4d3d-8a7b-276a7fca0ce7" Alias="Umbraco Festival Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoFestivalHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T17:50:10</CreateDate>
    <NodeName Default="Umbraco Festival Hero" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlultfsx/umbraco-festival.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>