<?xml version="1.0" encoding="utf-8"?>
<Media Key="0833cdb4-a2b6-44c9-a8fd-d41772fbd4dc" Alias="US Festival Hero Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/USFestivalHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T09:40:07</CreateDate>
    <NodeName Default="US Festival Hero Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/downloaded_images/hero-us-festival.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>