<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a45eb9-a292-4ce4-aa9b-6c451ae8a2e4" Alias="Visual Journey Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VisualJourneyHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-06T18:01:39</CreateDate>
    <NodeName Default="Visual Journey Hero" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/g0kof3p1/visual-journey.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>