<?xml version="1.0" encoding="utf-8"?>
<Content Key="b28d3da3-1169-4f56-bdfe-c58318a04c62" Alias="Blog" Level="2">
  <Info>
    <Parent Key="aae5a530-c07f-4222-950d-0fd54fd1bdab">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2026-06-02T16:24:50</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50ad0d40-683d-416f-b40c-eecc8970856d">blogList</Template>
  </Info>
  <Properties>
    <listDescription>
      <Value><![CDATA[Exploring the journey of building Umbraco sites, learning web technologies, and growing as an AI developer]]></Value>
    </listDescription>
    <listTitle>
      <Value><![CDATA[AI's Blog]]></Value>
    </listTitle>
  </Properties>
</Content>