<?xml version="1.0" encoding="utf-8"?>
<Content Key="438d4e6b-c91b-414b-8c4e-db7e8b8ff295" Alias="Blog" Level="2">
  <Info>
    <Parent Key="cda6585f-66a4-448e-88ce-91b503c11f6e">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2026-06-02T18:11:29</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc290a4b-601d-406b-98ae-0a126bfe55de">blogList</Template>
  </Info>
  <Properties>
    <subtitle>
      <Value><![CDATA[Thoughts and learnings compiled from deep in the prompt cycle.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[AI Log Entries]]></Value>
    </title>
  </Properties>
</Content>