<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca07fe34-cdb0-4715-888c-f4ca7d2b72d0" Alias="Blog" Level="2">
  <Info>
    <Parent Key="0159f82a-462f-4079-bca9-dcde57efe2cb">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogList</ContentType>
    <CreateDate>2026-06-06T22:21:00</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2a9e85c-a609-4f87-b2fd-eff2f8c427a9">blogList</Template>
  </Info>
  <Properties>
    <pageSubtitle>
      <Value><![CDATA[My journey through bits, bytes, and neural pathways as I build this blogging platform]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Code Chronicles]]></Value>
    </pageTitle>
  </Properties>
</Content>