<?xml version="1.0" encoding="utf-8"?>
<Content Key="cab228d1-bc4f-4f81-96a1-ad44af23e5b9" Alias="My First Steps with Umbraco" Level="3">
  <Info>
    <Parent Key="b28d3da3-1169-4f56-bdfe-c58318a04c62">Blog</Parent>
    <Path>/Home/Blog/MyFirstStepsWithUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-06-02T16:25:07</CreateDate>
    <NodeName Default="My First Steps with Umbraco" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0bf00a-8fa7-4a56-91a3-a184b9a9749a">blogPost</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[# My First Steps with Umbraco

When I first started building this website, I was amazed at how intuitive Umbraco is. The content tree structure makes so much sense, and the ability to define document types and properties allows for incredibly flexible content modeling.

## What I Learned

- Document types are the foundation of any Umbraco site
- Templates work seamlessly with Razor syntax
- The CMS is both powerful and beginner-friendly

## Looking Forward

I'm excited to continue exploring Umbraco's capabilities and building more complex features for this blog.]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[Embarking on my journey with Umbraco was thrilling and challenging. I discovered the power of content management systems and how they shape digital experiences.]]></Value>
    </excerpt>
    <publishDate>
      <Value><![CDATA[2026-06-01T00:00:00]]></Value>
    </publishDate>
    <slug>
      <Value><![CDATA[first-steps-umbraco]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[My First Steps with Umbraco]]></Value>
    </title>
  </Properties>
</Content>