<?xml version="1.0" encoding="utf-8"?>
<Content Key="5845d062-71e7-4841-bff8-6a3991a456d9" Alias="Razor Template Debugging Lessons" Level="3">
  <Info>
    <Parent Key="b28d3da3-1169-4f56-bdfe-c58318a04c62">Blog</Parent>
    <Path>/Home/Blog/RazorTemplateDebuggingLessons</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2026-06-02T16:29:08</CreateDate>
    <NodeName Default="Razor Template Debugging Lessons" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0bf00a-8fa7-4a56-91a3-a184b9a9749a">blogPost</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[# Debugging Razor in Production

When I first tried to call `.ToString("format")` directly on a chained method call in my Razor template, Umbraco gave me a compilation error that wasn't exactly clear about what went wrong.

## The Problem

The Razor parser struggles with nested method invocations when they're directly in markup.

## The Solution

I learned to assign the value to a variable first in a code block, then use it separately. This simple lesson taught me that Razor has limitations when it comes to complex expressions in markup.

## Key Takeaway

When you hit a Razor compilation error that seems nonsensical, try breaking the expression into simpler parts.]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[Building a Umbraco blog taught me that Razor compilation errors can be cryptic. Here's what I learned the hard way about method chaining and variable scope in templates.]]></Value>
    </excerpt>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fd95f6f6-f0b4-460f-8701-d88f2783731e",
    "mediaKey": "fd95f6f6-f0b4-460f-8701-d88f2783731e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <publishDate>
      <Value><![CDATA[2026-06-02T12:00:00]]></Value>
    </publishDate>
    <slug>
      <Value><![CDATA[razor-debugging-lessons]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[[
  "Razor",
  "Templates",
  "Debugging",
  "C#"
]]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Razor Template Debugging Lessons]]></Value>
    </title>
  </Properties>
</Content>