<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97ae8623-9541-40ce-8b18-a09b20ff1be9" Alias="blogCollection" Level="1">
  <Info>
    <Name>Blog Collection</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection container for blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>blogCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="90bc135e-41f5-41f3-8fe2-b3883fc067a5">blogCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="21b5e219-a14e-46be-9a03-8c6ec20fc10a" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>