<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e1a76ca-3c04-4d7c-ae10-e63f83de8490" Alias="Markdown Editor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "defaultValue": "",
  "overlaySize": "medium",
  "preview": true
}]]></Config>
</DataType>