<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f8ce650-f0c8-445c-83f3-7bde539c5a6a" Alias="Accessibility Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AccessibilityHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Accessibility Hero" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/12wmvgnb/accessibility-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>