<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6c8715f-ae03-4681-8291-a1ee1eafb3f2" Alias="Accessibility" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/Accessibility</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:14</CreateDate>
    <NodeName Default="Accessibility" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0c3j2edk/accessibility.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>