<?xml version="1.0" encoding="utf-8"?>
<Media Key="c58fab66-7349-4e1d-80f5-62c97cbd2893" Alias="ai-builds-for-devs" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/aiBuildsForDevs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:52</CreateDate>
    <NodeName Default="ai-builds-for-devs" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3fqns2za/ai-builds-for-devs.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>