<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f5a099c-3cee-4f80-86a0-0827dc82d85a" Alias="aurora-noir-design" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/auroraNoirDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:50</CreateDate>
    <NodeName Default="aurora-noir-design" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cpbbzsmh/aurora-noir-design.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>