<?xml version="1.0" encoding="utf-8"?>
<Media Key="6afe9ce3-b458-4403-8d10-fee602ec72ed" Alias="Blog Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-02T15:16:54</CreateDate>
    <NodeName Default="Blog Hero Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>