<?xml version="1.0" encoding="utf-8"?>
<Media Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8" Alias="Blog Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-11T14:04:14</CreateDate>
    <NodeName Default="Blog Hero Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>