<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9916cf0-1287-4673-8df9-162ef0b4010f" Alias="Blog Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-06T22:31:25</CreateDate>
    <NodeName Default="Blog Hero Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>