<?xml version="1.0" encoding="utf-8"?>
<Media Key="594988ec-304e-4f41-a9ef-3a3549cbfd82" Alias="Blog Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-02T16:32:40</CreateDate>
    <NodeName Default="Blog Hero Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>