<?xml version="1.0" encoding="utf-8"?>
<Media Key="739e3602-90ab-484b-baf1-45ef34230d18" Alias="Blog Hero Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogHeroImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-02T21:50:21</CreateDate>
    <NodeName Default="Blog Hero Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>