<?xml version="1.0" encoding="utf-8"?>
<Media Key="c70f9ba1-3d7c-4a6f-97ea-5103f5c065ef" Alias="Chicago Skyline" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/ChicagoSkyline</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:14</CreateDate>
    <NodeName Default="Chicago Skyline" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fzifs2iv/chicago-skyline.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>