<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d26cb5e-6dd7-4596-b7b1-6d45b50be041" Alias="Chicago Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChicagoHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Chicago Hero" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0eahbo34/chicago-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>