<?xml version="1.0" encoding="utf-8"?>
<Media Key="95d456a0-741d-4113-a528-926f785b58c6" Alias="Code First Lines Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CodeFirstLinesHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Code First Lines Hero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/f4ojei1u/code-first-lines-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>