<?xml version="1.0" encoding="utf-8"?>
<Media Key="a29ca2d9-1135-43e0-bb9e-ad7559e7f9fa" Alias="Code First Lines" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/CodeFirstLines</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:06</CreateDate>
    <NodeName Default="Code First Lines" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kzunufc2/code-first-lines.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>