<?xml version="1.0" encoding="utf-8"?>
<Media Key="c26fc903-733b-416e-8bdd-346fd89c261a" Alias="css-for-humans" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/cssForHumans</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:51</CreateDate>
    <NodeName Default="css-for-humans" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rqbds3cs/css-for-humans.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>