<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0b94995-75e1-470b-a40b-5ef1c74d569f" Alias="css-and-styling-strategies.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/cssAndStylingStrategiesjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="css-and-styling-strategies.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dkbp4bui/css-and-styling-strategies.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>