<?xml version="1.0" encoding="utf-8"?>
<Media Key="f547514a-6159-4564-b48c-4c628f20f3b6" Alias="Document Types" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/DocumentTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:06</CreateDate>
    <NodeName Default="Document Types" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ywnbcqzq/document-types.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>