<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4fb57c9-4480-44a9-bcd3-6a799876b223" Alias="document-hierarchy-deep-dive.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/documentHierarchyDeepDivejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:56</CreateDate>
    <NodeName Default="document-hierarchy-deep-dive.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/i0ol0yxj/document-hierarchy-deep-dive.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>