<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4c6c60d-37a8-42f0-9c33-eb969fa4e4e8" Alias="Document Types" Level="2">
  <Info>
    <Parent Key="6afe9ce3-b458-4403-8d10-fee602ec72ed">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/DocumentTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T15:17:02</CreateDate>
    <NodeName Default="Document Types" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qigiaewb/document-types.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>