<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e65d26e-efc4-4d06-846d-922c280e7bc1" Alias="Document Types Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DocumentTypesHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Document Types Hero" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2emcgofn/document-types-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>