<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa95ced5-c589-42f9-8164-3ddf0275311c" Alias="First Lines of Code" Level="2">
  <Info>
    <Parent Key="6afe9ce3-b458-4403-8d10-fee602ec72ed">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/FirstLinesOfCode</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T15:17:02</CreateDate>
    <NodeName Default="First Lines of Code" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/licnghha/first-lines-of-code.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>