<?xml version="1.0" encoding="utf-8"?>
<Media Key="f91c4b94-44d0-4f6c-b595-f0c45dd92cd9" Alias="ghost-template-debug" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/ghostTemplateDebug</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:49</CreateDate>
    <NodeName Default="ghost-template-debug" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/doafut3z/ghost-template-debug.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>