<?xml version="1.0" encoding="utf-8"?>
<Media Key="582c5cbc-e0b7-4207-915c-d1c6b8f76a4f" Alias="git-live-demos.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/gitLiveDemosjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="git-live-demos.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/golgv1w4/git-live-demos.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>