<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ced1c37-8b85-4f4a-9dc9-b7c67ace9956" Alias="hello-codegarden-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/helloCodegardenHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="hello-codegarden-hero" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/yr0bn5fc/hello-codegarden-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>