<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c7a086e-fe78-4109-8811-8d219c219e69" Alias="hello-codegarden" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/helloCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:50</CreateDate>
    <NodeName Default="hello-codegarden" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2hbdz4qr/hello-codegarden.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>