<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3653c7a-5439-49de-aec4-66b1d59123fc" Alias="hero-notes-for-codegarden" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroNotesForCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:43</CreateDate>
    <NodeName Default="hero-notes-for-codegarden" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4x1cg3kq/hero-notes-for-codegarden.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>