<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ec34da0-ac91-451e-8456-d5ec9aef8b59" Alias="hero-markdown-richtext" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroMarkdownRichtext</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:12</CreateDate>
    <NodeName Default="hero-markdown-richtext" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/kmsdrdvw/hero-markdown-richtext.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>