<?xml version="1.0" encoding="utf-8"?>
<Media Key="274a60ac-f1be-4a67-91f1-127c3f5ea6b6" Alias="hero-taming-the-document-type-tree" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroTamingTheDocumentTypeTree</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:42</CreateDate>
    <NodeName Default="hero-taming-the-document-type-tree" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/eovazeox/hero-taming-the-document-type-tree.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>