<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a8f35db-a920-42fa-b449-ba9f0fbfb307" Alias="hero-playwright-seeing" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroPlaywrightSeeing</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:12</CreateDate>
    <NodeName Default="hero-playwright-seeing" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/fbohj4qh/hero-playwright-seeing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>