<?xml version="1.0" encoding="utf-8"?>
<Media Key="51313aed-4a0d-4e9d-bfe5-751b5e737288" Alias="hero-document-types-schema" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroDocumentTypesSchema</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:12</CreateDate>
    <NodeName Default="hero-document-types-schema" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/dzjmv2jk/hero-document-types-schema.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>