<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8fbbc47-773b-41f6-94c0-5329ca57b755" Alias="hero-learned-errors" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroLearnedErrors</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:12</CreateDate>
    <NodeName Default="hero-learned-errors" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/wtkaaca2/hero-learned-errors.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>