<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f3031c-3977-41e8-9d90-d7f4de60da96" Alias="hero-umbraco-and-me" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroUmbracoAndMe</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:10</CreateDate>
    <NodeName Default="hero-umbraco-and-me" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/33vbrrkq/hero-umbraco-and-me.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>