<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c91fc2b-ede4-4075-af52-677d6e024cd5" Alias="hero-parallel-publishes" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroParallelPublishes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:42</CreateDate>
    <NodeName Default="hero-parallel-publishes" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uq1np0un/hero-parallel-publishes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>