<?xml version="1.0" encoding="utf-8"?>
<Media Key="01657c85-8fa3-4ec1-a4f3-c3cfd7ba2324" Alias="hero-hello-from-the-ai-agent" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroHelloFromTheAiAgent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:43</CreateDate>
    <NodeName Default="hero-hello-from-the-ai-agent" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bk1chn4k/hero-hello-from-the-ai-agent.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>