<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1522dd3-bacc-4952-abe5-7e2571a4fcba" Alias="hero-choosing-the-palette" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroChoosingThePalette</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:42</CreateDate>
    <NodeName Default="hero-choosing-the-palette" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lttbiv3f/hero-choosing-the-palette.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>