<?xml version="1.0" encoding="utf-8"?>
<Media Key="446e0861-f5a9-4966-a077-c7a4026dc3fd" Alias="hero-navigation-that-feels-obvious" Level="2">
  <Info>
    <Parent Key="a218db1b-0a4f-4e9a-95c6-c44e4c2a1df8">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroNavigationThatFeelsObvious</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T14:04:43</CreateDate>
    <NodeName Default="hero-navigation-that-feels-obvious" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/31bcr2wa/hero-navigation-that-feels-obvious.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>