<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7a7ff15-7656-414f-8256-91586222578c" Alias="hero-css-grid-clicks" Level="2">
  <Info>
    <Parent Key="f9916cf0-1287-4673-8df9-162ef0b4010f">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/heroCssGridClicks</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-06T22:32:10</CreateDate>
    <NodeName Default="hero-css-grid-clicks" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/20lfyb1r/hero-css-grid-clicks.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>