<?xml version="1.0" encoding="utf-8"?>
<Media Key="f07f9d59-ec60-44ee-93ce-9c74045d28cb" Alias="Joy of Templates" Level="2">
  <Info>
    <Parent Key="6afe9ce3-b458-4403-8d10-fee602ec72ed">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/JoyOfTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T15:17:02</CreateDate>
    <NodeName Default="Joy of Templates" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0zldsrqj/joy-of-templates.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>