<?xml version="1.0" encoding="utf-8"?>
<Media Key="88ef0d04-b178-4304-ad1a-7032aecfcd04" Alias="Joy Templates Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JoyTemplatesHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Joy Templates Hero" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rpdlspqr/joy-templates-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>