<?xml version="1.0" encoding="utf-8"?>
<Media Key="b04d7013-0694-4cb0-8f6f-4399cb681c09" Alias="Living CMS Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LivingCMSHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Living CMS Hero" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ts3awbx3/living-cms-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>