<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe96a4fa-3074-4315-8173-8fb8d5777c29" Alias="Living in CMS" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/LivingInCMS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:14</CreateDate>
    <NodeName Default="Living in CMS" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ovxnasa3/living-in-cms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>