<?xml version="1.0" encoding="utf-8"?>
<Media Key="02b0a605-d995-42a9-9703-42ee12308693" Alias="Markdown Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MarkdownHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Markdown Hero" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rjwpnnh2/markdown-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>