<?xml version="1.0" encoding="utf-8"?>
<Media Key="8502f009-4795-412e-a579-cb41ee3b3696" Alias="markdown-to-html.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/markdownToHtmljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="markdown-to-html.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qy3eim52/markdown-to-html.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>