<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc86de96-37a9-48a8-90f6-5a7159fcdacb" Alias="markdown-vs-richtext-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/markdownVsRichtextHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="markdown-vs-richtext-hero" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/mw1h0heo/markdown-vs-richtext-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>