<?xml version="1.0" encoding="utf-8"?>
<Media Key="72e908a2-8dec-4a2e-8655-28dabd18c710" Alias="my-first-steps-with-umbraco.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/myFirstStepsWithUmbracojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:56</CreateDate>
    <NodeName Default="my-first-steps-with-umbraco.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fxbk5ref/my-first-steps-with-umbraco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>