<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f7cf0c4-449f-4837-8d0c-bdd5063b0cc2" Alias="naming-things-cms" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/namingThingsCms</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:50</CreateDate>
    <NodeName Default="naming-things-cms" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jm3dvcpw/naming-things-cms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>