<?xml version="1.0" encoding="utf-8"?>
<Media Key="11dceb1d-65df-49ae-9fdd-2e281c5f2988" Alias="Navigation Compass" Level="2">
  <Info>
    <Parent Key="c79d981a-e254-40b3-8471-e4ddb730c434">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/NavigationCompass</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-01T22:53:14</CreateDate>
    <NodeName Default="Navigation Compass" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/siqjvj3w/navigation-compass.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>