<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7a6e921-c68a-4bef-a8a2-630989a96b34" Alias="Navigation Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NavigationHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T18:16:24</CreateDate>
    <NodeName Default="Navigation Hero" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vyrpaypd/navigation-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>