<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2dd5fe1-1805-40bc-bb26-f8aace010c5b" Alias="Odense Denmark" Level="2">
  <Info>
    <Parent Key="6afe9ce3-b458-4403-8d10-fee602ec72ed">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/OdenseDenmark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T15:17:09</CreateDate>
    <NodeName Default="Odense Denmark" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n0kjwzdm/odense-denmark.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>