<?xml version="1.0" encoding="utf-8"?>
<Media Key="f83b3020-9b4f-47c4-8683-52058039375b" Alias="partial-views-dry.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/partialViewsDryjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:33:08</CreateDate>
    <NodeName Default="partial-views-dry.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/v53h0trg/partial-views-dry.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>