<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e4ab260-436d-4b66-b430-f2f4d32498cc" Alias="performance-simplicity-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/performanceSimplicityHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="performance-simplicity-hero" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/spnldpsk/performance-simplicity-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>