<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd95f6f6-f0b4-460f-8701-d88f2783731e" Alias="razor-debugging-lessons.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/razorDebuggingLessonsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="razor-debugging-lessons.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pe4ngs43/razor-debugging-lessons.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>