<?xml version="1.0" encoding="utf-8"?>
<Media Key="a77a4e7a-880e-471c-b0cf-1fea35fe5cdb" Alias="reset-starting-zero-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/resetStartingZeroHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="reset-starting-zero-hero" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/reticbzj/reset-starting-zero-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>