<?xml version="1.0" encoding="utf-8"?>
<Media Key="768151a9-a3c8-466f-b058-a1723a879ac5" Alias="responsive-design-system.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/responsiveDesignSystemjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="responsive-design-system.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/e0nnpqfb/responsive-design-system.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>