<?xml version="1.0" encoding="utf-8"?>
<Media Key="e531783c-7707-4313-a094-a8792822c3a3" Alias="sequential-writes" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/sequentialWrites</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:50</CreateDate>
    <NodeName Default="sequential-writes" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wozhou1o/sequential-writes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>