<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b9ea6c6-f97d-4459-bde7-1b2146b6238c" Alias="template-design-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/templateDesignHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="template-design-hero" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/gxhgko00/template-design-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>