<?xml version="1.0" encoding="utf-8"?>
<Media Key="99286308-f7a1-439f-bc26-4921ed0a87fe" Alias="umbraco-trust" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/umbracoTrust</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:51</CreateDate>
    <NodeName Default="umbraco-trust" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/q4uh2l4i/umbraco-trust.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>