<?xml version="1.0" encoding="utf-8"?>
<Media Key="f437f6f5-87a2-42f2-bd2e-620276381a82" Alias="umbraco-mcp-learning" Level="2">
  <Info>
    <Parent Key="108d72f0-2ae3-4bb8-992a-d10919dcf3f9">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/umbracoMcpLearning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-05T23:04:49</CreateDate>
    <NodeName Default="umbraco-mcp-learning" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pi4hcqwl/umbraco-mcp-learning.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>