<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c0baf41-2a8e-43d1-b127-14cae60a4190" Alias="understanding-document-types-hero" Level="2">
  <Info>
    <Parent Key="739e3602-90ab-484b-baf1-45ef34230d18">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/understandingDocumentTypesHero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-06-02T21:50:37</CreateDate>
    <NodeName Default="understanding-document-types-hero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/wldpbpfj/understanding-document-types-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>