<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd8e8e8b-0758-40a1-b717-5925dddb2e5e" Alias="understanding-templates.jpg" Level="2">
  <Info>
    <Parent Key="594988ec-304e-4f41-a9ef-3a3549cbfd82">Blog Hero Images</Parent>
    <Path>/BlogHeroImages/understandingTemplatesjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-02T16:32:48</CreateDate>
    <NodeName Default="understanding-templates.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/arcmqszr/understanding-templates.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>