<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc30ca32-8fa3-41d1-bf87-2085e1342170" Alias="MarkdownEditor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{"preview":true}]]></Config>
</DataType>
