<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec1c7c28-8ec4-49a4-bff7-515e7e9878e8" Alias="Markdown Editor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "preview": true
}]]></Config>
</DataType>