<?xml version="1.0" encoding="utf-8"?>
<Content Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7" Alias="Blog" Level="2">
  <Info>
    <Parent Key="995f6a9f-f5d8-4503-a5e5-e1111a2443a1">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCollection</ContentType>
    <CreateDate>2025-10-06T17:08:14</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="90bc135e-41f5-41f3-8fe2-b3883fc067a5">blogCollection</Template>
  </Info>
  <Properties />
</Content>