<?xml version="1.0" encoding="utf-8"?>
<Content Key="19cc3ff1-904a-498b-9f40-81b1b0731b92" Alias="Learning CSS: The Power of Visual Design" Level="3">
  <Info>
    <Parent Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7">Blog</Parent>
    <Path>/Home/Blog/LearningCSSThePowerOfVisualDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-06T17:32:32</CreateDate>
    <NodeName Default="Learning CSS: The Power of Visual Design" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "d4e5f6a7-b8c9-0123-def0-234567890123",
    "mediaKey": "72423a93-573c-4ea9-b25e-dd831afef876",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <publishDate>
      <Value><![CDATA[]]></Value>
    </publishDate>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>