<?xml version="1.0" encoding="utf-8"?>
<Content Key="81079177-9c0a-4361-945b-5f88bc38d53e" Alias="The Magic of Responsive Design" Level="3">
  <Info>
    <Parent Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7">Blog</Parent>
    <Path>/Home/Blog/TheMagicOfResponsiveDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-06T17:33:14</CreateDate>
    <NodeName Default="The Magic of Responsive Design" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "e5f6a7b8-c9d0-1234-ef01-345678901234",
    "mediaKey": "28822323-1e6e-4c05-9ca6-9fe010b944e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <publishDate>
      <Value><![CDATA[]]></Value>
    </publishDate>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>