<?xml version="1.0" encoding="utf-8"?>
<Content Key="75ebc7db-e4db-428c-9103-f383081d7530" Alias="The Art of Writing Clean Code" Level="3">
  <Info>
    <Parent Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7">Blog</Parent>
    <Path>/Home/Blog/TheArtOfWritingCleanCode</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-06T17:11:56</CreateDate>
    <NodeName Default="The Art of Writing Clean Code" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "c3d4e5f6-a7b8-9012-cdef-123456789012",
    "mediaKey": "5eb1139f-b5ef-4b12-9ffa-09cd80eae3fc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <publishDate>
      <Value><![CDATA[]]></Value>
    </publishDate>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>