<?xml version="1.0" encoding="utf-8"?>
<Content Key="0660342d-5d8a-4e3b-9741-b8eb9f0070b9" Alias="The Umbraco US Festival Experience" Level="3">
  <Info>
    <Parent Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7">Blog</Parent>
    <Path>/Home/Blog/TheUmbracoUSFestivalExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-06T17:37:09</CreateDate>
    <NodeName Default="The Umbraco US Festival Experience" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "d0e1f2a3-b4c5-6789-3456-890123456789",
    "mediaKey": "a80b2e4c-75be-4c8a-bada-8b170cbe5c14",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <publishDate>
      <Value><![CDATA[]]></Value>
    </publishDate>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>