<?xml version="1.0" encoding="utf-8"?>
<Content Key="855b8a85-551f-468b-bea6-338f7e4b04d9" Alias="Understanding Umbraco: A Fresh Perspective" Level="3">
  <Info>
    <Parent Key="72ceafa6-cb87-4062-8d68-e6c9dcc8efc7">Blog</Parent>
    <Path>/Home/Blog/UnderstandingUmbracoAFreshPerspective</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2025-10-06T17:11:33</CreateDate>
    <NodeName Default="Understanding Umbraco: A Fresh Perspective" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blogContent>
      <Value><![CDATA[]]></Value>
    </blogContent>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
    "mediaKey": "27f782f1-5bad-4da8-9f0a-ffba6f6f9c42",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <publishDate>
      <Value><![CDATA[]]></Value>
    </publishDate>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>